<div class="container">
  <h1 class="mt-4">User Search Results</h1>

  <% if @searched_user %>
    <div class="user-search-container"> <!-- Add the custom class here -->
      <h2 class="user-details-heading">User Details</h2> <!-- Add the custom class here -->
      <p>Name: <%= @searched_user.first_name %> <%= @searched_user.last_name %></p>
      <p>Email: <%= @searched_user.email %></p>

      <h2 class="message-count-heading">Message Count</h2> <!-- Add the custom class here -->
      <p>Messages sent to <%= @searched_user.first_name %>  <%=@searched_user.last_name %>: <%= @sender_messages.count %></p>
      <p>Messages received from <%= @searched_user.first_name %> <%=@searched_user.last_name %>: <%= @receiver_messages.count %></p>
    </div>
  <% else %>
    <p class="alert alert-danger">User not found.</p>
  <% end %>

  <div class="text-center">

    <%= link_to 'Chat', user_path(@searched_user), class: 'btn btn-primary chat-button' %>
    <%= link_to 'Back', users_path, class: 'btn btn-secondary char-button' %>

  </div>
</div>
